<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/matching_pennies.js') }}"></script>
	</head>
	<body>
		<h1>BIT SEQUENCE PREDICTION</h1>
		<p>Press the left arrow key for 0 and the right arrow key for 1.</p>
		<div id="cscore">Computer score: </div></br>
		<div id="pscore">Player score: </div></br>
		<div id="last-action">Entered: </div>
			<div style="position:relative;">
				<img style="position:absolute;left:575;height:100;" id="finish" src="{{ url_for('static', filename='images/finish.png') }}">
				<img style="position:absolute;width:575px;height:100;" id="finish" src="{{ url_for('static', filename='images/road.png') }}">
				<img style="position:absolute;height:34;width:75;top:12" id="red-car" src="{{ url_for('static', filename='images/red-car.gif') }}">
				<img style="position:absolute;top:56;height:34;width:75;" id="green-car" src="{{ url_for('static', filename='images/green-car.gif') }}">
			</div>
	</body>
</html>
